.todos-container {
    padding: 40px;
    font-size: 16px;
}

table {
    margin: 0 auto;
}

table td {
    padding: 10px;
    border: 1px solid #3b3b24;
}

table thead td {
    background-color: #3b3b24;
}

table tr> :last-child {
    cursor: pointer;
}

.todos-heading {
    font-size: 2rem;
    padding-top: 40px;
    text-align: center;
}