.homepage {
  padding: 0 40px;
}

.home-heading {
  text-align: center;
  font-family: var(--font-geist-sans);
}

.head {
  padding: 30px 0;
}

.ulContain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ulContain li {
  list-style: none;
  color: rgb(253, 129, 34);
}